body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
}
.grid-item {
    /* background-color:black; */
    height: 30px;
    width: 30px;
    margin: 1px;
    box-sizing: border-box  ;
    border: 1px solid black;
}