body{
    font-family: bangers;
    background-color: #EDFFF0;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    background-color: white;
}
.grid-item {
    /* background-color:black; */
    height: 20px;
    width: 20px;
    margin: 1px;
    box-sizing: border-box ;
    border: 1px solid black;
}

.header h1{
    text-align: center;
    font-size: 60px;
}

.resetColors {
    background-color: #F63049;
}

.getUserInput {
    background-color: #A8DF8E;
}

.resetColors, .getUserInput {
    border-radius: 3px;
    padding: 5px;
    font-family: bangers;
    font-size: 25px;
    margin: 0 10px;
}

.btns {
    text-align: center;
}